{{#each example}}
	
	<div class="example docs">

		{{#wrapper}}
			{{{start}}}
		{{/wrapper}}
		{{^wrapper}}
			<div class="ft-grid-page">
				
		{{/wrapper}}
			<div class="ft-grid-row">
				<div class="ft-grid-col|12|">
					<h2>{{title}}</h2>
					<p>{{{description}}}</p>
				</div>
			</div>
		{{#if this.rows}}
			{{#each this.rows}}
				<div class="ft-grid-row">
					{{#each this.columns}}
						{{> column}}
					{{/each}}
				</div>
			{{/each}}
		{{else}}
			<div class="ft-grid-row">
				{{#each this.columns}}
					{{> column}}
				{{/each}}
			</div>
		{{/if}}

		{{#wrapper}}
			{{{end}}}
		{{/wrapper}}
		{{^wrapper}}
			</div>
		{{/wrapper}}

	</div>


{{/each}}